<div class="container">
    <h1>Edit Profile</h1>
  	<hr>
	<div class="row">
      <!-- left column -->
      <div class="col-md-3">
        <div class="text-center">
          <%= image_tag(@user.avatar.url, alt: 'avatar', class: "avatar img-circle" , style: "width: 300px;height: 300px" ) %>
          <h6 class="m-3">Select a different Avatar...</h6>
          <hr>
          <%= form_with model: current_user, url: registration_path(current_user), method: :put, html: { class: "form-horizontal" } do |form| %>
          <div class="form-group">
            <% form.label :avatar, class: "col-lg-3 control-label" %>
            <div class="col-lg-12 mb-2">
              <% @avatars.each do |avatar| %>
                <label>
                  <%= form.radio_button :avatar_id, avatar.id, checked: avatar.id == @user.avatar.id %>
                  <%= image_tag avatar.url, class: "rounded-circle img-fluid", style: "width: 70px;" %>
                </label>
              <% end %>
            </div>
          </div>
        </div>
      </div>

      <!-- edit form column -->
      <div class="col-md-9 personal-info">

        <h3>Personal info</h3>
  <%= render "devise/shared/error_messages", resource: current_user  %>
    <div class="form-group">
    <%= form.label :name, class: "col-lg-3 control-label" %>
    <div class="col-lg-8 mb-2">
      <%= form.text_field :name, class: "form-control" %>
    </div>
  </div>
    <div class="form-group">
    <%= form.label :email, class: "col-lg-3 control-label" %>
    <div class="col-lg-8 mb-2">
      <%= form.email_field :email, autocomplete: "email", class: "form-control" %>
    </div>
  </div>

  <% if devise_mapping.confirmable? && current_user.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= current_user.unconfirmed_email %></div>
  <% end %>
   <div class="form-group">
    <%= form.label :username, class: "col-md-3 control-label" %>
    <div class="col-md-8 mb-2">
      <%= form.text_field :username, class: "form-control" %>
    </div>
  </div>

    <div class="form-group">
    <%= form.label :New_Password, class: "col-md-3 control-label" %>
    <div class="col-md-8 mb-2">
      <%= form.password_field :password, class: "form-control", autocomplete: "new-password" %>
      <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
    </div>
  </div>
    <div class="form-group">
    <%= form.label :password_confirmation, class: "col-md-3 control-label" %>
    <div class="col-md-8 mb-2">
      <%= form.password_field :password_confirmation, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= form.label :current_password, class: "col-md-3 control-label" %>
    <div class="col-md-8 mb-2">
    <i>(we need your current password to confirm your changes)</i>
      <%= form.password_field :current_password, class: "form-control", autocomplete: "current-password"  %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-md-3 m-3 control-label"></div>
    <div class="col-md-8">
      <%= form.submit "Save Changes", class: "btn btn-primary" %>
      <span></span>
      <%= button_tag "Cancel", type: "reset", class: "btn btn-default" %>
    </div>
  </div>
<% end %>
<%= link_to "Back", :back %>
   </div>
  </div>
</div>
<hr>

